* { margin: 0; padding: 0; outline: 0; }

@font-face { font-family: Lobster; src: url(../fonts/Lobster\ 1.4.otf) format("opentype") }
@font-face { font-family: Keffeesatz; src: url(../fonts/YanoneKaffeesatz-Light.otf) format("opentype") }
@font-face { font-family: KeffeesatzBold; src: url(../fonts/YanoneKaffeesatz-Bold.otf) format("opentype") }
@font-face { font-family: Macondo; src: url(../fonts/MacondoSwashCaps-Regular.ttf) format("opentype") }


body { font-family: Keffeesatz, Arial;
 color: #4b4b4b;
 background-color: #e9e8e7;
 font-size: 24px;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
 }

::selection { background-color: rgba(149, 38, 16, 0.2); }
::-moz-selection { background-color: rgba(149, 38, 16, 0.2); }

h1 { color: #fff; font-size: 40px; position: relative; top: 15px; }

h2,h3,h4,h5 {margin-top:25px;}
h2 { 
  font-size: 46px;
  color: #77D7E3;
  height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
h2 span.sub { font-size: 38px; float: left; color: #4b4b4b; margin-top:25px;}
h3 { font-size: 36px; color: #006363; margin-bottom:15px;}
h4 { font-size: 30px; margin-bottom:10px;}
h5 { font-size: 24px; text-decoration:underline; margin-bottom:10px;}

/*
h2.intro { background: url(images/intro.png) no-repeat -10px -10px; }
h2.work { background: url(images/ceremonie.png) no-repeat -10px -10px; }
h2.about { background: url(images/about.png) no-repeat -10px -10px; }
h2.contact { background: url(images/contact.png) no-repeat -10px -10px; }
*/

.savethedate {
 text-align:center;
 padding-left:95px;
 margin-bottom:20px;
 margin-top:0;
  font-family: Macondo;
 font-size:50px; 
 color:#759BB9;
 color:#77D7E3;
 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
a { 
  color: #4b4b4B;
 text-decoration: none;
 padding-bottom: 2px;
 }
a:hover { 
  color: #006363;
 text-decoration: none;
 border-bottom: 1px solid #006363;
 padding-bottom: 2px;
 }
a:active { 
  color: #006363;
 color:#77D7E3;
 text-decoration: none;
 border-bottom: 1px solid #77D7E3;
 padding-bottom: 2px;
 position: relative;
 top: 1px;
 }

p { font-size: 20px; margin-bottom: 15px; }
strong { font-family: KeffeesatzBold, Arial; }

#headercontainer a { 
 color: #e9e8e7;
 text-decoration: none;
 padding-bottom: 2px;
 }
#headercontainer a:hover { 
 color: #679B00;
 color:#77D7E3;
 text-decoration: none;
 border-bottom: 1px solid #77D7E3;
 padding-bottom: 2px;
 text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
 }
#headercontainer a:active {
 color:#77D7E3;
 text-decoration: none;
 border-bottom: 1px solid #77D7E3;
 padding-bottom: 2px;
 position: relative;
 top: 1px;
 }

#header { 
 padding: 5px 0;
 width: 100%;
 background-color: #3f3F3F; /* #006363;*/
 margin-bottom: 25px;
 -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
 }
#headercontainer { 
 width: 85%;
 margin: 0 auto;
 position: relative;
}

#contentcontainer { 
 width: 960px;
 margin: 0 auto;
  padding-top: 50px; 
  margin-bottom: 800px; 
  position:relative;
 }

#nav { width: auto; float: left; }
#nav ul { position: absolute; right: 0; display: block; margin-top: -37px; }
#nav ul li { display: inline; margin-left: 30px; }
#nav ul li a { font-size: 24px; border-bottom: none; }

#headercontainer h1 a { 
  color: #e9e8e7; 
  font-family: Lobster, Arial;
  font-size: 40px; 
  background-color: #E72081; 
  background-color:#77D7E3;
  padding: 5px 25px 10px 25px; 
  width: 300px; 
  -webkit-border-radius: 10px; 
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
  /*-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); 
  border-top: 1px solid rgba(136, 0, 0, 0.6);*/
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  font-family: Macondo;
}

#headercontainer h1 a:hover { 
 padding: 5px 25px 10px 25px; 
 color: #e9e8e7;
 background-color: #3f3f3f;
 text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
 background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, #4b4b4B),
	    color-stop(0.62, #4b4b4b)
	);
 background: -moz-linear-gradient(
 center bottom,
	    #4B4B4B 23%,
	    #4B4B4B 62%
	);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); 
  border-top: 1px solid rgba(75, 75,75, 0.6);
}
/*div#ceremonie { padding-top: 380px; } */

#intro h2 a { padding-bottom: 0px; }
#ceremonie .work a img, input, textarea { margin:20px;
 border: 5px solid rgba(149, 38, 16, 1);
 -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
 }
#intro a img:active, #ceremonie .work a img:active { 
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }

#intro img { 
  /*
 float:left;
 margin:40px;
 margin-left: 220px;
 */
 border: 5px solid rgba(255,255,255, 1);
 -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); 
}
#ceremonie img, iframe { 
 float:left;
 padding:10px;
 border: 5px solid rgba(255,255,255, 1);
 -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); 
}

/*ul li { margin-bottom: 10px; }*/
ul { padding-left: 25px; }
ul li { margin: 10px 0; }
.nom { text-decoration:none; font-style:italic; letter-spacing:.3ex;}
.coord { }

#contact { margin-bottom: 0px; }

input[type="text"] { width: 400px; }
textarea { width: 750px; height: 275px; }
label { color: #ff5400; }
input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 5px solid rgba(149, 38, 16, 0.15); padding: 10px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 24px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
input:focus, textarea:focus { border: 5px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

.column {
margin:30px 0px;
padding:0;
/*border:1px solid red;*/
width:480px;
float:left;
}
.columnsmall {
margin:20px;
text-align:justify;
padding:0;
/*border:1px solid red;*/
width:520px;
float:left;
}
.columntext {
margin:20px;
text-align:justify;
padding:0;
/*border:1px solid red;*/
width:320px;
float:left;
}

#footer { 
  margin:0 auto;
  text-align:center;
width:960px;
margin-bottom:10px;
}
#footer ul { margin-bottom: 150px; }
#footer ul li { display: inline; margin-right: 50px; }
#footer ul li a { font-size: 24px; margin-left: 10px; }
#footer ul li img { vertical-align: bottom; position: relative; top: 2px; }
