<h2 class="contact">Coordonn&eacute;es</h2>
<h4> Mariés</h4>

Rapha&euml;l Fournier :
<a href="mailto:raphael@raphaelfournier.net">raphael@raphaelfournier.net</a> 06.73.83.40.40<br/>
Marie Sniehotta :
<a href="mailto:sniehottamarie@hotmail.com">sniehottamarie@hotmail.com</a> 06.71.34.29.34<br/>
  <div class="coord">
    82, rue Baudricourt <br/>
    75&nbsp;013&nbsp;Paris.<br/> T&eacute;l&eacute;phone : 01.73.71.41.95
  </div>
</p>

<h4> Familles </h4>

<ul style="list-style-type:none;">
  <li><span class="nom">Patrick et Isabelle Fournier</span>
  <div class="coord">
    40, rue de Tardi&egrave;res<br/>
    63&nbsp;100&nbsp;Clermont-Ferrand<br/>
    04.73.36.77.92<br/>
  </div>
</li>

  <li><span class="nom">Jean-Pierre et Fran&ccedil;oise Sniehotta</span>
  <div class="coord">
    22, rue Jules Verne<br/>
    63&nbsp;400&nbsp;Chamali&egrave;res<br/>
    04.73.37.32.32
  </div>
</li>
</ul>

<h4> Témoins </h4>
<ul style="list-style-type:none;">
  <li>Romain Gay.  04.73.36.77.92</li>
  <li>Luis Hidalgo-Bachs.  04.73.37.32.32</li>
  <li>Anne Sniehotta.  04.73.37.32.32</li>
  <li>Yannick Fage.  04.73.37.32.32</li>
</ul>


