    	<div id="headercontainer">
    
    		<h1><a class="title" href="#intro">Marie et Raphaël</a></h1>
    		
    		<nav> <!-- HTML5 navigation tag -->
    			<ul>
            <!--    				<li><a class="introlink anchorLink" href="#intro">Accueil</a></li> -->
            <li><a class="ceremonielink anchorLink" href="#ceremonie">C&eacute;r&eacute;monie</a></li>
            <li><a class="cocktaillink anchorLink" href="#cocktail">Cocktail</a></li>
            <li><a class="sejourlink anchorLink" href="#sejour">S&eacute;jour</a></li>
            <li><a class="quefairelink anchorLink" href="#quefaire">Que faire ?</a></li>
            <li><a class="contactlink anchorLink" href="#contact">Coordonn&eacute;es</a></li>
    			</ul>				
    		</nav>
    	
    	</div>

