<h2 class="intro">
  Nous nous marions le 16 juin 2012 apr&egrave;s-midi &agrave; la mairie de 
  <a class="portfoliolink anchorLink" href="#portfolio">Clermont-Ferrand</a>. 
<span class="sub">Un cocktail sera ensuite servi à l'espace culturel de <a class="portfoliolink anchorLink" href="#portfolio">Montpeyroux</a>.</span></h2>
    		
<!-- <img style="margin-top:10px;float:none;" src="images/plageNBtiny.jpg" width="50%" alt="Marie et Raph" /> -->
<img src="images/plageNBtiny.jpg" width="300px" alt="Marie et Raph" />
