<div id="nav">
  <ul>
    <li{% if page.slug == 'home' %} class="active"{% endif %}><a rel="home page" title="home sweet home" href="/">accueil</a></li>
    <li{% if page.slug == 'infos' %} class="active"{% endif %}><a rel="infos pratiques" title="infos pratiques" href="/infos/">infos pratiques</a></li>
    <li{% if page.slug == 'contact' %} class="active"{% endif %} {% if page.layout == 'post' %} class="active"{% endif %}><a rel="contact" title="contact" href="/contact/">contact</a></li>
  </ul>
</div>
